.background-container {
  background-color: #ffc2a0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border-radius: 10px;
  margin: 30px;
  background-color: white;
  width: 80%;
  text-align: center;
}
@media (max-width: 576px) {
  .background-container {
    width: 100%;
  }
}
